body{
  font-size: .80em;
}

.contract-wrapper{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin: 0px;
  background: #fff;
  border: 1px solid #f0f0f0;

}

.contract-header{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}

.contract-body{
  padding: 30px;
}

.sign-area{
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 46px;
}

.button{
  margin-bottom: 30px;
}
