body{
  font-size: .76em;
  font-family: 'Inter', sans-serif;
  color: #000;
  background-color: #f9f9f9 !important;
}

#temps_div{
  width: 100% !important;
  display: none;
}

#export-data-ul li{
  padding-left: 5px;
  padding-right: 20px;
  margin-right: 20px;
  float: left !important;
  margin-right: 10px;
  display: block;
  width: 120px;
}

#tglr{
fill: #dcdcdc;
}

#tglr:hover, .n#tglr:focus{
fill:  #fff !important;
}

.breadcrumb{
    padding-left: 40px;
}

.breadcrumb-item a {
    text-decoration: none;
    font-weight: 600;
    color: darkslategray;
    text-transform: uppercase;
}

.card{
    border: 2px solid #f0f0f0;
}

.navbar-toggler:focus { outline: none; }


.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus {
    background: #fff;
    border-color: #c8ced3 #c8ced3 #fff;
    font-weight: bold !important;
}

th{
  font-weight: bold !important;
  color: #333 !important;
  font-size: 12px !important;
  padding: 10px !important;
  text-transform: uppercase;
}

.eml-body{
  width: 100%;
  height: 70vh !important;
  border: 0px !important;
  overflow: auto;
}

.small-gray{
  color: #9e9e9e;
}

.li-active{
  background: #bbdefb;
}

.custom-vert-menu li a.active{
  background: #f0f0f0;
  border: 2px solid #f0f0f0;
  border-radius: 14px;
}

.custom-vert-menu li a:hover{
  background: #f5f5f5;
  border-radius: 16px;
}

.custom-vert-menu li a{
  width: 100%;
  display: inline-block;
  padding-left: 20px !important;
}

.outbox-summary{
  width: 100%;
  height: 70vh;
  border-left: 1px solid #f0f0f0;
  padding: 10px;
  background: #fafafa;
  overflow-x: auto;
  padding: 0px !important;
}

.outbox-summary ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.outbox-summary ul li{
  padding: 5px;
  border-top: 1px solid #f0f0f0;
}

.outbox-summary ul li:hover{
  background: #e3f2fd;
  cursor: pointer;
}

#note-status-others, #note-interaction-others, #note-type-others{
  display: none;
}

#training-truncate{
  width: 140px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.text-fafa{
  color: #f0f0f0;
}

#enable-upload{
  cursor:pointer;
}

header{
background: linear-gradient(
87deg
 , #ff4810 0, #ec7006bd 100%) !important;
}
.breadcrumb{
border-bottom: 2px solid #f0f0f0;
}

.breadcrumb-item a{
  text-decoration: none;
}

.attached-cv{
  padding: 16px;
  text-decoration:none;
  border: 1px solid #f0f0f0;
  background: #fafafa;
  border-radius: 1px;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attached-cv:hover{
  text-decoration:none;
}
.top-label3{
  text-transform: uppercase;
}

.floating-note{
  position: fixed;
  right:0;
  bottom: 0;
  margin-right: 3px;
  background: #fafafa;
  padding: 10px;
  width: 320px;
  max-height: 520px;
  border-left: 2px solid #f0f0f0;
  border-top: 2px solid #f0f0f0;
  border-right: 2px solid #f0f0f0;
  border-bottom: 0px;
  -webkit-box-shadow: -2px -1px 5px 7px rgba(222,222,222,0.35);
  -moz-box-shadow: -2px -1px 5px 7px rgba(222,222,222,0.35);
  box-shadow: -2px -1px 5px 7px rgba(222,222,222,0.35);
  overflow-x: auto;
}

.notes-title{
  width: 100%;
  display: inline-block;
  cursor: pointer;
}

#c-down{
  display: none;
}

.notes-data{
  display: none;
    height: 500px;
}

.notes-data text-area{
height: 90% !important;
}

.dataTables_processing {
  position: absolute !important;
  top: 0 !important;
  left: 90% important;
  width: 100px !imporant;
  text-align: center !important;
  font-size: 1.0em;
  color: #20a8d8 !important;
  padding: 20px !important;
}

input{
  font-size: .76em;
}

.thumbnail-he{
  width: 300px;
  height: auto;
}

.thumb-wrapper{
  padding: 5px;
  border: 10px;
  width: 320px;
  max-height: 280px !important;
  border: 1px solid #f0f0f0;
  overflow: hidden;
  background: #fafafa;
}

.thumb-wrapper img{
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-10%);
  z-index: 99;
}

.thumb-wrapper label{
position: relative !important;
z-index: 100;
text-shadow: 1px 1px #fafafa;
background: #fafafa;
margin-top: -20px;
padding: 5px;
}

.h4, h4 {
    font-size: 1.115rem !important;

}

.p-2 {
    padding: .3rem !important;
}

#custom-searchbox{
float: right;
margin-right: 0px
margin-top: 20px;
}

.top-underlined{
  text-align: right;
}

#btn-custom-search{
  width: 100%;
}

#custom-search-input{
width: 100%;
}

#cl-search{
  margin-top: 16px;
}

#btn-custom-search-server{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.dropdown-menu{
  margin-top: 10px;
  margin-right: 40px;
  padding: 6px;
}

.full-menu{
  width: 100% !important;
  height: 200px !important;
  overflow: auto;
}

.btn-block{
  display: block;
  width:  22vw;
  border: none;
  background-color: #4CAF50;
  padding: 7px 14px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  max-width: 11.1vw;
  min-width: 1vw;
}

.card-docu-holder {
  height: 130vh;
}

.card-body-3{
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

.card-body{
box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%) !important;
border: 1px !important;
border-radius: 0.375rem;
background-color: #ffffff !important;
}

.nav-link.active{
  font-weight: 500;
}

#all_trainees td{
  text-align: center;
}

#wrapped-td{
  max-width: 400px;
  white-space: -o-pre-wrap;
   word-wrap: break-word;
   white-space: pre-wrap;
   white-space: -moz-pre-wrap;
   white-space: -pre-wrap;
}
table.dataTable.compact{
    width: 100% !important;
}

table.dataTable.compact tbody th, table.dataTable.compact tbody td{
  padding-left: 12px !important;
  padding-top: 8px !important;
  padding-bottom: 4px !important;
}

#img-obj{
  min-width: 150px;
  min-height: 150px;
  width: 150px;
}

#checkin-info-delete, #view-batch{
  cursor: pointer;
}

a.current{
  background-color: #004ba0 !important;
}

.fa-paper-plane{
  padding-top: 6px;
  color: #4dbd74;
  font-size: 16px;
}

#profile_pic, #profile_pic2{
  display:inline-block;
  background: #fafafa;
  width: 160px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #f0f0f0;
  padding: 4px;
  overflow: hidden;
}

#profile_pic img, #profile_pic2 img{
width: 100%;
height: 100%;
}

#fileInput, #withfile_form, #fileInput2{
  display: none;
}

#icon{
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  margin-top: -24px;
}


.img-container{
  float: left;
  width: 160px !important;
  margin: 20px;
  text-align: center;
}

.cancelled_reason, .suspended_reason, .replacement_reason{
  display: none;
}

.img-container img{
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid #f0f0f0;
}

.nbi-image{
  display: inline-block !important;
  background-color: #f0f0f0;
  width: 100% !important;

}

#pkey:hover{
  color: #008CBA;
  cursor: pointer;
}

#dpicker, #picker, #datetime-picker, #dpk2, .dpk, .dpk-batch, .dpk-batch-time, #dpk-ref{
  background: none !important;
}

#data-client-lists-all_length, .dataTables_length{
  margin-top: 30px !important;
}

#custom_collapse{
  display: none;
}

.td-collapse:hover{
  cursor: pointer;
  background: #f0f0f0;
}

.dataTables_paginate{
  margin-top: 30px;
}

.main-nav .active{
  height: 100%;
  vertical-align: middle;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #fafafa;
}

#new_alert, #new_error{
display: none;
}

#replacement_va{
  -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   border-top: 0px !important;
   padding: 0px;
   list-style: none;
   position: absolute;
   background: #fff;
   width: 92%;
   height: 120px;
   overflow-x: auto;
   border: 1px solid #f0f0f0;
   z-index: 99999;
   display: none;
}

#replacement_va li{
  padding: 3px;
  width: 100%;
  display: inline-block;
}

#replacement_va li:hover{
  cursor: pointer;
  background-color: #f0f0f0;
}

.nav-link{

}

#three_mos_contract,
#signup-date,
#current_va_date,
#cancellation_date,
#suspension_date{
  background: none;
}

#data-client-stats-year td, #data-client-stats td{
  text-align: center;
}

#data-client-stats-year td:nth-child(1) , #data-client-stats td:nth-child(1) {
  font-weight: bold;
}


#replacement-section{
  display: none;
}

th, td {
  white-space: nowrap;
  text-align: left;
}

#placement-info-section, #cancellation_section, #suspension_section{
  display: none;
}

#pkey{
  font-weight: 500;
}

.DTFC_ScrollWrapper{
  margin-bottom: 20px;
}

caption, th {
   font-size: 13px !important;
}

#data-client-placements td, #data-client-lists td{
  padding-left: 10px !important;
}

div.dataTables_wrapper {
  width: 97%;
  margin: 0 auto;
}

.nav-link {
    display: block;
    padding: .5rem 1.6rem;
}

.main-nav .nav-link{
  color: #f0f0f0;
  font-size: 1.0em !important;
  font-weight: 500;
  height: 100%;
  margin-left: 1px;
  margin-right: 1px;
  vertical-align: middle !important;
  line-height: 15px;
  padding-top: 9px !important;
}

.main-nav li .nav-link:hover{
  background-color: #fff !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #000;

}

.main-nav .nav-item{
  padding-top:1px;
}

.main-nav{
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: -8px;
  margin-left: 30px;
  height: 46px;
}
.app-header{
  border-bottom: 1px solid #fafafa !important;
}

.navbar-toggler-icon{
  color :#fff !important;
}

.del-coach, .del-checkin, .del-item, .del-eminfo, .del-item-hr{
  cursor: pointer;
}

.btn{
  font-size: 12px !important;
}

.btn.active {
	display: none;
}

.btn span:nth-of-type(1)  {
	display: none;
}
.btn span:last-child  {
	display: block;
}

.btn.active  span:nth-of-type(1)  {
	display: block;
}
.btn.active span:last-child  {
	display: none;
}

#option1, #option2{
  display: none;
}

i.gray{
  color: #fafafa;
}

#del-placement{
  color: #333;
  cursor: pointer;
}


.text-red{
  color: #B71C1C;
}

.btn-red{
  background-color: #B71C1C;
  color: #fff;
  font-weight: bold;
  margin-right: 20px;
}

.btn-yellow{
  background-color: #ffeb3b;
  color: #000;
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 8px;
}

.text-yellow{
  color: #ffeb3b;
}


.text-blue{
  color: #20a8d8;
}

.btn-blue{
  background: linear-gradient(
87deg
 , #033740 0, #1386af 100%) !important;
    color: #e4e7ea;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 8px;
}

.btn-blue:hover{
  background: #033740 !important;
  color: #fff;
}

.text-green{
  color: #4dbd74;
}

.btn-green, .btn-success{
  background: linear-gradient(
87deg
 , #0e4c23 0, #09a53e 100%) !important;
    color: #e4e7ea;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 8px;
}
.btn-green:hover{
  background: #0e4c23 !important;
  color: #fff;
}

.btn-orange:hover{
  background: #ff4810 !important;
  color: #fff;
}

.text-orange{
  color: #ffa726;
}

.btn-orange{
  background: linear-gradient(
87deg
 , #ff4810 0, #fb8e30 100%) !important;
    color: #e4e7ea;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 8px;
}


.badge-gray{
  display: inline-block;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 4px 0px;
}

.badge-red{
  display: inline-block;
  background: linear-gradient(
87deg
 , #80040a 0, #f33a54 100%) !important;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;

}

.badge-orange{
  display: inline-block;
  background-color: #ffa726;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;

}

.badge-unavailable{
  display: inline-block;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;

}

.badge-green{
  display: inline-block;
  background: linear-gradient(
87deg
 , #04802f 0, #33bd63 100%) !important;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;

}

.badge-blue{
  display: inline-block;
  background-color: #20a8d8;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 4px 0px;
}

.badge-yellow{
  display: inline-block;
  background-color: #ffbf00 !important;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 4px 0px;
}

.date-options{

  display: none;

  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #f0f0f0;
  background: #fafafa;
}

.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
      .checkbox label::after {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 0;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        color: #555555; }
        .checkbox input[type="checkbox"] {
          opacity: 0; }
          .checkbox input[type="checkbox"]:focus + label::before {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px; }
            .checkbox input[type="checkbox"]:checked + label::after {
              font-family: 'FontAwesome';
              content: "\f00c"; }
              .checkbox input[type="checkbox"]:disabled + label {
                opacity: 0.65; }
                .checkbox input[type="checkbox"]:disabled + label::before {
                  background-color: #eeeeee;
                  cursor: not-allowed; }
                  .checkbox.checkbox-circle label::before {
                    border-radius: 50%; }
                    .checkbox.checkbox-inline {
                      margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

#message-alert{
  display: none;
}

input, select, textarea{
  border-radius: 1px !important;
  font-size: 13px !important;
}

.odd td, .even td{
  padding-top:10px !important;
  padding-left: 7px !important;
}

.odd td a, .even td a{
  margin-left: 12px;
  margin-top: -4px !important;
  width: 70px !important;
  font-size: 12px !important;
}

.dataTables_filter input{
  margin-bottom: 10px !important;
  border: 1px solid #f0f0f0;
}

.paginate_button{
  margin-left: 5px !important;
}

.card-pad{

}

.card-pad .row{
  margin: 1px;
}

.field-box{
  margin-top: 12px;
}

.field-box label{
  font-weight: 600;
  font-size: 12px;
  color: #73879C;
  padding-left: 3px;
}

.header-underlined{
    padding-bottom: 10px;
    border-bottom: 2px solid #f0f0f0;
    font-size: 13px;
    font-weight: 600;
    color: #181b1e !important;
}

.header-underlined-wide{
  padding-bottom: 12px;
  border-bottom: 2px solid #f0f0f0;
  width: 100%;
}

.top-underlined{
  margin-top: 40px;
  padding-top: 20px;
  border-top: 2px solid #f0f0f0;
}

.top-label{
  font-weight: 600 !important;
  color: #373737 !important;
  margin-top: 14px !important;
}

table th, .top-label{
  font-size: 12px;
  color: #616161;
  font-weight: 400;
}

.tab-content{
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.tab-pane{
  padding-left: 2px !important;
  padding-right: 2px !important;
}



#steps li{
  display: none;
}

#source-experience{
}

#del-exp{
  margin-top: 15px;
  cursor: pointer;
}

#del-int, #ref-int{
  margin-top: 5px;
  cursor: pointer;
}


.bootstrap-datetimepicker-widget table td{
  padding: 3px !important;
}

.bootstrap-datetimepicker-widget .btn{
  padding: 3px !important;
}

span.timepicker-minute, span.timepicker-hours, span.timepicker-seconds{
  border: 0px !important;
  padding: 3px !important;
}

ul.timeline {
    list-style-type: none;
    position: relative;
    scroll-behavior: smooth;
}
ul.timeline:before {
    content: ' ';
    background: #f0f3f5;
    display: inline-block;
    position: absolute;
    left: 18px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 10px;
    padding-1eft: 0px;
    padding-right: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: #f0f3f5;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 13px;
    width: 12px;
    height: 12px;
    z-index: 400;
}

ul.timeline > li.current:before {
  background: blue;

}

ul.timeline > li.current a{
  font-weight: bold;
  outline: none;
}



ul.timeline .badge{
  font-size: 12px;
}

.timeline-wrapper{
  height: 330px;
  overflow-x: auto;
}

#del-sked{
  background: #eeeeee;
  color: #aeaeae;
  padding: 1px 5px;
  position: absolute;
  margin-right: -10px;
  margin-top: -10px;
  border-radius: 50%;
  border: 1px solid #c2c2c2;
  font-size: 8px;
  display: none;
  text-align: center;
}

#badge:hover #del-sked{
  display: inline-block;
  cursor: pointer;
}

/* total width */
.timeline-wrapper::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

/* background of the scrollbar except button or resizer */
.timeline-wrapper::-webkit-scrollbar-track {
    background-color:#fff
}

/* scrollbar itself */
.timeline-wrapper::-webkit-scrollbar-thumb {
    background-color:#f0f3f5;
    border-radius:16px;
    border:4px solid #fff
}

/* set button(top and bottom of the scrollbar) */
.timeline-wrapper::-webkit-scrollbar-button {display:none}

.recruiters-list{
  padding:0px;
  margin: 0px;
  list-style: none;
}

.recruiters-list li{
  padding-top: 2px;
  padding-bottom: 2px;
}


.modal-contents{
  display: none;
}

.ul-rec-tab{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.ul-rec-tab li{
  margin-top: 10px;
  padding-left: 10px;
  border-left: 4px solid #f0f0f0;
}

#available-time{
  padding: 0px;
  margin: 0px;
  list-style: none;
  height: 200px;
  overflow-y: auto;
}

#available-time li{
  width: 100%;
  padding: 6px;
}

#available-time li button{
  width: 94%;
}

#tl-note{
  width: 90%;
}

.selected{
  background:#d50000;
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

#available-time::-webkit-scrollbar {
    background-color:#fff;
    width:18px
}

.paginate_button{
background: #f86826 !important;
font-weight: bold;
}

a.current {
    color: white !important;
    border: 1px solid transparent;
    background-color: #f84813 !important;
    font-weight: bold;
}

.paginate_button:hover {
    color: white !important;
    border: 1px solid transparent;
    background-color: #f84813 !important;
    font-weight: bold;
}

a.previous{
    color: white !important;
}

/* background of the scrollbar except button or resizer */
#available-time::-webkit-scrollbar-track {
    background-color:#fff
}

/* scrollbar itself */
#available-time::-webkit-scrollbar-thumb {
    background-color:#f0f3f5;
    border-radius:16px;
    border:4px solid #fff
}

#toggle_ratings{
    display: none;
}

/* set button(top and bottom of the scrollbar) */
.timeline-wrapper::-webkit-scrollbar-button {display:none}


@media screen and (max-width: 600px) {
  .main-nav{
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .main-nav{
    display: none;
  }


}
